html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
.Arrows{
  width: 15px;
  height: 15px;
  border: 2px solid #32557f;
  border-left: 0;
  border-top: 0;
}
.Up-arrow{
  transform: rotate(225deg);
}